
form {
    div {
        label {
            display: block;
            font-weight: 400;
            font-variant: small-caps;
            font-size: .9rem;
        }

        input {
            display: block;
            padding: .25em 1em;
            border-radius: .5em;
            border: 1px solid #a9a9a9;

            &.ng-valid.ng-dirty {
                border: 2px solid #1bca1b;
            }

            &.ng-invalid.ng-dirty {
                border: 2px solid #e72e2e;
            }
        }

        button {
            padding: .5em 1em;
            text-transform: uppercase;
            background-color: forestgreen;
            color: white;
            border: 1px solid #888;
            border-radius: .5em;

            &:hover:not(:disabled) {
                box-shadow: 3px 3px 6px #555;
            }

            &:disabled {
                background-color: #ccc;
                color: white;
                border: 1px solid #ccc;
            }
        }
    }
}
