:host {
    font-family: sans-serif;
}

table {
    width: 100%;

    thead {
        background-color: dodgerblue;

        th {
            color: white;
        }
    }

    tbody {
        td {
            text-align: center;
        }
    }
}

fieldset {
    div {
        & + div {
            margin-top: 1em;
        }

        label {
            display: block;
            font-variant: small-caps;
            font-weight: 400;
            font-size: .9rem;
        }

        input {
            padding: .15em .6em;
            border-radius: .5em;
            border: 1px solid #555;
        }

        button {
            & + button {
                margin-left: 1em;
            }
        }
    }
}

h1 {
    button {
        margin-left: 2em;
    }
}
