<h1>
    <span>HTTP App</span>
    <button (click)="create()">Skapa</button>
</h1>

<fieldset *ngIf="user">
    <legend>Skapa / Ändra</legend>
    <div>
        <label for="fname">Förnamn</label>
        <input type="text" id="fname" [(ngModel)]="user.fname">
    </div>
    <div>
        <label for="lname">Efternamn</label>
        <input type="text" id="lname" [(ngModel)]="user.lname">
    </div>
    <div>
        <label for="year">Födelseår</label>
        <input type="number" [min]="1945" [max]="2000" id="year"
               [(ngModel)]="user.birthYear">
    </div>
    <div>
        <button (click)="cancel()">Avbryt</button>
        <button (click)="save()">SPARA</button>
    </div>
</fieldset>

<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Namn</th>
            <th>Ålder</th>
            <th>Ändra</th>
            <th>Radera</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let u of users; let row=index">
            <td>{{ row + 1 }}</td>
            <td>{{ u.name }}</td>
            <td>{{ u.age }}</td>
            <td>
                <button (click)="edit(u.id, row)">Ändra</button>
            </td>
            <td>
                <button (click)="remove(u.id, row)">Radera</button>
            </td>
        </tr>
    </tbody>
</table>
