<h1>ng Forms App</h1>

<app-template-oriented-form
    [init]="person"
    (updated)="onSubmit($event)"
></app-template-oriented-form>

<hr>

<app-component-oriented-form
    [init]="person"
    (updated)="onSubmit($event)"
></app-component-oriented-form>


