<h1>Pipes App</h1>

<table>
    <thead>
        <tr>
            <th>Namn</th>
            <th>Tjänsteprodukt</th>
            <th>Pris</th>
            <th>Lagersaldo</th>
            <th>Datum</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of products">
            <td>{{ p.name | titlecase | slice:0:12 }}</td>
            <td>{{ p.isService ? 'JA' : '' }}</td>
            <td>{{ p.price | kronor:true }}</td>
            <td>{{ p.itemsInStore | number:'1.0-0' }}</td>
            <td>{{ p.lastUpdate | date:'longDate':'sv-SE' }}</td>
        </tr>
    </tbody>
</table>

<hr>
<pre>{{products | json}}</pre>

