table {
    width: 100%;

    thead {
        th {
            text-align: left;
            background-color: #333;
            color: #fff;

            &:nth-child(2) {
                text-align: center;
            }
            &:nth-child(3) {
                text-align: right;
            }
            &:nth-child(4) {
                text-align: center;
            }
            &:last-child {
                text-align: right;
            }
        }
    }

    tbody {
        tr:hover {
            background-color: #ddd;
        }
        td {
            &:nth-child(2) {
                text-align: center;
            }
            &:nth-child(3) {
                text-align: right;
            }
            &:nth-child(4) {
                text-align: center;
            }
            &:last-child {
                text-align: right;
            }
        }
    }
}
