<h1>EditableText App</h1>

<table>
    <tbody>
        <tr>
            <th>Namn</th>
            <td>
                <editable-text [value]="person.name" [property]="'person.name'"
                               (updated)="onEditableChanged($event)"></editable-text>
            </td>
        </tr>
        <tr>
            <th>Ålder</th>
            <td>
                <editable-text [value]="person.age" [property]="'person.age'"
                               (updated)="onEditableChanged($event)"></editable-text>
            </td>
        </tr>
        <tr>
            <th>Ort</th>
            <td>
                <editable-text [value]="person.city" [property]="'person.city'"
                               (updated)="onEditableChanged($event)"></editable-text>
            </td>
        </tr>
    </tbody>
</table>
<hr>
<table>
    <tbody>
        <tr *ngFor="let p of person | keyvalue">
            <th>{{ p.key | titlecase}}</th>
            <td>
                <editable-text [value]="p.value"
                               [property]="'person.' + p.key"
                               (updated)="onEditableChanged($event)"></editable-text>
            </td>
        </tr>
    </tbody>
</table>

