<h1>Modal Demo</h1>

<button (click)="modalVisible = true"> Show Modal </button>
<message-modal [title]="title" [(open)]="modalVisible">
    <h3>A simple heading</h3>
    <p> Just som boring text sample goes here. </p>
    <ul>
        <li *ngFor="let f of fruits">{{f | titlecase}}</li>
    </ul>
</message-modal>


