.label {
    background-color: #eee;
    padding: .1em .5em;
    &:hover {
        color: darkorange;
        background-color: #ddd;
    }
}
.placeholder {
    font-style: italic;
    font-weight: 100;
}
