<div class="label" (click)="showForm()" *ngIf="!formVisible">
    <span *ngIf="hasValue">
        {{valueOrig}}
    </span>
    <span *ngIf="!hasValue" class="placeholder">
        {{placeholder}}
    </span>
</div>
<div *ngIf="formVisible">
    <input type="text" [(ngModel)]="valueForm" (keyup)="onKeyEvent($event)">
</div>
