
<fieldset>
    <legend>Template-Oriented-Form</legend>

    <form novalidate #form="ngForm">
        <div>
            <label for="first-name">Förnamn</label>
            <input type="text" id="first-name" name="firstName"
                   [(ngModel)]="person.firstName" #firstNameCtrl="ngModel"
                   [required]="true" [minlength]="4"
            >
            <ul *ngIf="firstNameCtrl.errors">
                <li *ngIf="firstNameCtrl.errors.required">Måste ha ett värde</li>
                <li *ngIf="firstNameCtrl.errors.minlength">Minst {{ firstNameCtrl.errors.minlength.requiredLength }} tecken</li>
            </ul>
            <pre>value: {{ firstNameCtrl.value | json}}</pre>
            <pre>errors: {{ firstNameCtrl.errors | json}}</pre>
        </div>

        <div>
            <label for="email">E-Post</label>
            <input type="text" id="email" [name]="'email'"
                   [(ngModel)]="person.email" #emailCtrl="ngModel"
                   [required]="true" [email]="true"
            >
            <ul *ngIf="emailCtrl.errors">
                <li *ngIf="emailCtrl.errors.required">Måste ha ett värde</li>
                <li *ngIf="emailCtrl.errors.email">Måste innehålla exakt ett @</li>
            </ul>
            <pre>value: {{ emailCtrl.value | json}}</pre>
            <pre>errors: {{ emailCtrl.errors | json}}</pre>
        </div>

        <div>
            <button [disabled]="form.invalid" (click)="onSubmit()" type="submit">
                skicka formulärdata
            </button>
        </div>
    </form>
</fieldset>

