<form #productForm="ngForm">
  <div class="field">
    <label>Product Name</label>
    <input type="text" [(ngModel)]="product.name" name="name" #nameCtrl="ngModel" />
    <pre>Value: {{nameCtrl.value | json}}</pre>
  </div>

  <div class="field">
    <label>Product Price</label>
    <input type="number" [(ngModel)]="product.price" name="price" #priceCtrl="ngModel" [min]="0" />
    <pre>Value: {{priceCtrl.value | json}}</pre>
  </div>

  <hr />
  <button (click)="updateProductName()">Update Name</button>
  <button (click)="updateProductPrice()">Update Price</button>
  <button (click)="onSubmit()">Submit Form</button>
</form>
<hr />
<pre>{{productForm.value | json}}</pre>
