<h1>Routing App</h1>

<nav>
    <ul>
        <li><a [routerLink]="'/home'" [routerLinkActive]="'current-page'">Home</a></li>
        <li><a [routerLink]="'/products'" [routerLinkActive]="'current-page'">Products</a></li>
        <li><a [routerLink]="'/about'" [routerLinkActive]="'current-page'">About</a></li>
    </ul>
</nav>

<router-outlet></router-outlet>

<footer>
    &copy; Tjolla Hopp Software, 2021. All rights reversed.
</footer>
