:host {
    font-family: sans-serif;
}

nav {
    a {
        text-decoration: none;
    }
}

.current-page {
    background-color: #555;
    color: #fff;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    font-size: .85rem;
    padding: 1em;
    margin-top: 2rem;
}
