div {
    font-size: .7rem;
    border: 1px solid #155c9d;
    border-radius: 1em;
    box-shadow: 2px 2px 4px #777;
    padding: 1em;
    background-color: #1e88e5;
    color: #fff;

    h3, p {
        margin: 0;
        padding: 0;
    }

    p {
        text-align: center;
        padding-top: .25em;
    }
}
