<h1>Product Detalj</h1>

<table *ngIf="product; else notFound">
    <tbody>
        <tr>
            <th>Namn</th>
            <td>{{ product.name | titlecase }}</td>
        </tr>
        <tr>
            <th>Pris</th>
            <td>{{ product.price | currency }}</td>
        </tr>
    </tbody>
</table>
<ng-template #notFound>
    <p>
        Product not found !!
    </p>
</ng-template>
