<h1>Date Form App</h1>

<h2>Idag</h2>

<input type="date"
       [ngModel]="toISO(today)"
       (ngModelChange)="today = fromISO($event)"
>
{{ today | json }}

<h2>Antal Dagar</h2>
<input type="range" [(ngModel)]="offset" [min]="1" [max]="45">
{{ offset | json}}

<h2>Framtida Datum</h2>

{{ nextDate(today, offset) | date:'d MMMM yyyy' }}

