<h1>Frukter</h1>

<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Namn</th>
            <th>Pris</th>
            <th>Visa</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of products; let row=index">
            <td>{{ row + 1 }}</td>
            <td>{{ p.name | titlecase }}</td>
            <td>{{ p.price | currency }}</td>
            <td>
                <a [routerLink]="['/product-view', row]">Gå Till</a>
                <a [routerLink]="['detail', row]">Visa Nedan</a>
            </td>
        </tr>
    </tbody>
</table>

<router-outlet></router-outlet>

<footer>
    Tjabba Habba
</footer>
