table {
    width: 100%;

    thead {
        tr {
            background-color: royalblue;

            th {
                color: white;
            }
        }
    }

    tbody {
        td {
            text-align: center;

            a {
                text-decoration: none;
            }

            * + * {
                margin-left: 1em;
            }
        }
    }
}

