<fieldset>
    <legend>Component-Oriented-Form</legend>

    <form novalidate [formGroup]="form">
        <div>
            <label for="first-name"></label>
            <input type="text" id="first-name" [formControl]="firstNameCtrl">
            <ul *ngIf="firstNameCtrl.errors">
                <li *ngIf="firstNameCtrl.errors.required">Måste ha ett värde</li>
                <li *ngIf="firstNameCtrl.errors.minlength">Minst {{ firstNameCtrl.errors.minlength.requiredLength }} tecken</li>
            </ul>
            <pre>value: {{ firstNameCtrl.value | json}}</pre>
            <pre>errors: {{ firstNameCtrl.errors | json}}</pre>
        </div>

        <div>
            <label for="email"></label>
            <input type="text" id="email" [formControl]="emailCtrl">
            <ul *ngIf="emailCtrl.errors">
                <li *ngIf="emailCtrl.errors.required">Måste ha ett värde</li>
                <li *ngIf="emailCtrl.errors.email">Måste innehålla exakt ett @</li>
            </ul>
            <pre>value: {{ emailCtrl.value | json}}</pre>
            <pre>errors: {{ emailCtrl.errors | json}}</pre>
        </div>

        <div>
            <button [disabled]="form.invalid" (click)="onSubmit()" type="submit">
                skicka formulärdata
            </button>
        </div>
    </form>
</fieldset>
