@use "sass:color";

:host {
    font-family: sans-serif;
}


table {
    $primary : #e89909;
    width: 100%;
    thead {
        tr {
            background-color:  $primary;
            th {
                color: white;
            }
        }
    }
    tbody {
        tr {
            &.striped {
                background-color: color.adjust($primary, $alpha: -0.85);
            }
        }
    }
}

.empty {
    color: #aaa;
    font-size: 3rem;
    text-align: center;
}

