<h1>Directives App</h1>

<button (click)="toggle()">
    Växla mellan tomt och fullt
</button>

<p *ngIf="persons.length === 0" class="empty">
    Inga personer här !!!
</p>
<table *ngIf="persons.length > 0">
    <thead>
        <tr>
            <th>#</th>
            <th>Förnamn</th>
            <th>Efternamn</th>
            <th>E-post</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of persons; let row=index; let odd=odd" [ngClass]="{striped:odd}">
            <td>{{ row + 1 }}</td>
            <td>{{ p.firstName }}</td>
            <td>{{ p.lastName }}</td>
            <td>{{ p.email }}</td>
        </tr>
    </tbody>
</table>
