table {
    width: 100%;
}

th {
    text-align: left;
}

p {
    text-align: center;
    font-size: larger;
    color: darkorange;
}

th:nth-child(3), td:nth-child(3) {
    text-align: right;
}

th:nth-child(4), td:nth-child(4) {
    text-align: center;
}
